<!DOCTYPE html>
<html ng-app="bootstrapApp" class=".main" data-modeldata="@Model">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	
	@*<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap_default/less/bootstrap.less")"/>*@
	
	@helpers.BundleCss("bootstrap#.css", x =>
		x.Add("~/Content/Style.less")
		.Add("~/Content/bootstrap_default/less/bootstrap.less")
		)
	@helpers.BundleJs("bootstrap#.js", x =>
		x.Add("~/Scripts/jquery-1.7.2.js")
		.Add("~/Scripts/angular.js")
		.Add("~/Scripts/angular-resource.js")
			//.Add("~/Scripts/bootstrap.js")
				.Add("~/Scripts/Bootstrap/App.coffee")
				.Add("~/Scripts/Bootstrap/Bootstrap.coffee")
			//.Add("~/Scripts/colorPicker_src.js")
			//.Add("~/Scripts/jquery.modcoder.excolor.js")
	)
</head>
<body>
	<div class="page">
		<header>
			@Html.Partial("_navbar")
		</header>
		<section id="main">
			;asjdl;m
			@RenderBody()
        </section>
		<footer>
		
		</footer>
	</div>
</body>
</html>
