<!DOCTYPE html>
<html ng-app="bootstrapApp" class=".main" data-modeldata="@Model">
<head>
	<title>@ViewBag.Title</title>
	@Helpers.BundleCss("bootstrap#.css", x =>
		x.Add("~/Content/Style.less")
			//.Add("~/Content/bootstrap_default/less/bootstrap.less")
		)
	@Helpers.BundleJs("bootstrap#.js", x =>
		x.Add("~/Scripts/jquery-1.7.2.js")
		.Add("~/Scripts/angular.js")
		.Add("~/Scripts/angular-resource.js")
		.Add("~/Scripts/bootstrap.js")
		.Add("~/Scripts/colorPicker_src.js")
		.Add("~/Scripts/Bootstrap/App.coffee")
		.Add("~/Scripts/Bootstrap/Bootstrap.coffee")
		.Add("~/Scripts/Bootstrap/Bootstrap.coffee")
		.Add("~/Scripts/jquery.signalR-0.5.2.js")
		.Add("~/signalr/hubs")
	)
	
	@RenderSection("head",false)
</head>
<body>
	<div class="page">
		<header>
			@Html.Partial("_navbar")
		</header>
		<section id="main">
			@RenderBody()
		</section>
		<footer>
		
		</footer>
	</div>
</body>
</html>
